@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Paytone+One&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ultra&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"); */

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  background-color: #000000; /* Black */
  
}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;
}




.layout__main-content {
  margin-left: 17rem; /* Margin equals the width of the sidebar */
  flex-grow: 1;
  transition: margin-left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
}

@media (max-width: 640px) {
  .main-content {
    margin-left: 0;
    padding-left: 280px;
  }
}

.sidebar__wrapper {
  position: relative;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Home takes up 2 parts, Storage takes up 1 part */
  gap: 20px; /* Adjust as needed */
}

.home {
  grid-column: span 2; /* Home spans 2 columns */
}

.storage {
  grid-column: span 1; /* Storage spans 1 column */
}

/* Adjust for smaller screens */
@media (max-width: 640px) {
  .gridContainer {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
  }

  .home {
      grid-row: 1;
  }

  .storage {
      grid-row: 2;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-box {
  width: 90%;            /* Adjust this value as per your preference */
  max-width: 400px;      /* Maximum width of the modal box */
  overflow-x: hidden;    /* Prevent horizontal scrolling */
  padding: 20px;         /* Add some padding for aesthetics */
  box-sizing: border-box; /* Ensure padding is included in the width */
}
.btn {
  font-size: 1rem;       /* Adjust font size if needed */
  padding: 10px 20px;    /* Adjust padding if needed */
}


.sidebar {
  width: 17rem;
  height: 100%;
  z-index: 10; /* Ensure the sidebar remains on top */
  background-color: var(--color-bg);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}


.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.sidebar__logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 1rem;
}

.sidebar__logo-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.sidebar__list {
  list-style: none;
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: var(--color-sidebar-item);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar__link--active {
  color: #fff;
  background-color: #10b981;
}

.sidebar__icon {
  display: inline-block;
  font-size: 1.2rem;
}

.sidebar__name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar__name,
[data-collapse="true"] .sidebar__logo-name {
  display: none;
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}

.hover-effect:hover {
  transform: scale(1.05); /* Enlarge the item */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow for depth effect */
  transition: all 0.3s ease; /* Smooth the hover effect */
}

.hover-effect {
  transition: all 0.3s ease; /* Smooth out the hover effect when hovering out */
}


/* in your CSS file */
.icon-wrapper {
  display: inline-block;
  color: silver; /* default color of your icon */
}

.icon-wrapper:hover .icon-outline {
  color: silver; /* color of your icon on hover */
}

.icon-fill {
  color: #1ED760; /* fill color of your icon */
}

/* In your global.css or similar file */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

@layer utilities {
  .shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
}

