.custom-width {
  width: 400px;
}

/* In your CSS or style module */
.custom-toast-error {
  background-color: #ff4444; /* Red background color */
  color: #ffffff; /* White text color */
  font-size: 16px; /* Adjust font size as needed */
  /* Add any other custom styles as desired */
}
.container {
  display: flex;
  flex-direction: row;
  height: 97vh;
  overflow-y: hidden;  /* Prevent vertical scrolling */
}

.home {
  flex: 2;
  padding: 1rem;
  overflow-y: hidden;
}

.storage {
  flex: 1;
  padding: 1rem;
  overflow-y: hidden;  /* Enable vertical scrolling if content overflows */
  max-height: 100vh; /* Ensure it doesn't exceed the viewport height */
}

/* For smaller screens */
@media (max-width: 640px) {
  .container {
      flex-direction: column;
  }

  .home,
  .storage {
      flex: 1;
  }
}
